# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# Data (optionnel si tu veux commiter le CSV sample)
# data/*.csv

# Project Action plan
ACTION/
futur/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
